# Configurações da Aplicação
PORT=3000

# Configurações do PostgreSQL para Docker Compose e Aplicação
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=pix_db
POSTGRES_HOST=localhost # Para a aplicação NestJS se conectar ao container Docker
POSTGRES_PORT=4321      # Porta que a aplicação NestJS usará para conectar

NODE_ENV=development